{% extends "default/layout_sbadmin.html" %}

{% block head %}
    <title>Index Page</title>
{% endblock %}

{% block main %}
    <h1>Index page</h1>
    <hr>
    <p>Access level: {{user.access_level}}</p>
    <a href="/admin">Test admin page</a>
    <br>
    <a href="/logout">Test logout</a>
{% endblock %}