<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="../static/vendor/bootstrap/bootstrap.css">
        {% block head %}{% endblock %}
    </head>
    <body>
        {% block main %}{% endblock %}
        <!--------------->
        <!-- BOOTSTRAP -->
        <!--------------->
        <script src="../static/vendor/bootstrap/bootstrap.bundle.js"></script>
        <script src="../static/vendor/jquery/jquery.min.js"></script>
        <script src="../static/js/default/helpers.js"></script>
    </body>
</html>