<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../static/vendor/bootstrap/bootstrap.css">
    <link rel="stylesheet" href="../static/vendor/sbadmin2/sb-admin-2.css">

    <title>Login</title>
</head>
<body class="bg-gradient-primary">

<div class="container">

    <!-- Outer Row -->
    <div class="row justify-content-center">

        <div class="col-xl-10 col-lg-12 col-md-9">

            <div class="card o-hidden border-0 shadow-lg my-5">
                <div class="card-body p-0">
                    <!-- Nested Row within Card Body -->
                    <div class="row">
                        <div class="col-lg-6 d-none d-lg-block bg-login-image"></div>
                        <div class="col-lg-6">
                            <div class="p-5">
                                <div class="text-center">
                                    <h1 class="h4 text-gray-900 mb-4">Welcome Back!</h1>
                                </div>
                                <form class="user" action='/login' data-toggle="validator" id="registration" method="post">
                                    <div class="form-group">
                                        {{ form.email(placeholder='Username', class_='form-control
                                        form-control-user',autofocus=true ,
                                        size=32) }}
                                        <div class="help-block with-errors"></div>
                                    </div>
                                    <div class="form-group">
                                        {{ form.password(placeholder='Password', class_='form-control
                                        form-control-user', size=32) }}
                                        <div class="help-block with-errors"></div>
                                    </div>
                                    {% for category, message in get_flashed_messages(with_categories=true) %}
                                        <header>
                                            {% if category == 'danger'  %}
                                                <div class="alert alert-danger" role="alert">
                                            {% else %}
                                                    <div class="alert alert-info" role="alert">
                                            {% endif %}
                                                {{ message }}
                                            </div>

                                        </header>
                                    {% endfor %}
                                    <hr>
                                    <div class="form-group">
                                        <button class="btn btn-primary btn-user btn-block" type="submit">Login</button>
                                    </div>
                                    <!--<hr>-->
                                    <!--<a href="index.html" class="btn btn-google btn-user btn-block">-->
                                    <!--<i class="fab fa-google fa-fw"></i> Login with Google-->
                                    <!--</a>-->
                                    <!--<a href="index.html" class="btn btn-facebook btn-user btn-block">-->
                                    <!--<i class="fab fa-facebook-f fa-fw"></i> Login with Facebook-->
                                    <!--</a>-->
                                </form>
                                <!--<hr>-->
                                <div class="text-center">
                                    <a class="small" href="#">
                                        Forgot Password? <span class="badge badge-warning">TODO</span>
                                    </a>
                                </div>
                                <div class="text-center">
                                    <a class="small" href="{{url_for('register')}}">Create an Account!</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>

</div>


<!--------------->
<!-- BOOTSTRAP -->
<!--------------->
<script src="../static/vendor/jquery/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/1000hz-bootstrap-validator/0.11.5/validator.min.js"></script>
<script src="../static/vendor/bootstrap/bootstrap.bundle.js"></script>
<script src="../static/js/default/helpers.js"></script>
</body>
</html>